/* Start:/bitrix/templates/AniLibria KD Design/components//bitrix/system.pagenavigation/new-navigation/style.css?1441385390810*/




/* Start:/bitrix/templates/AniLibria KD Design/components/bitrix/news/news/bitrix/news.list/.default/style.css?14343988931405*/
 .news_block {
	width: 850px;
	height: auto;
	background-color:#fff;
	margin: 5px 0px 5px 0px;
	padding: 10px 20px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #dcdcdc;
}

 .news-header {
	top:0px;
	padding:0px 0px 10px 0px;
}

h1.news-name {
	line-height: 30px;
	margin: 0px;
	color:#504141;
	font-size:19pt;
	font-weight:400;
}

h1.news-name a, h1.news-name a:visited {
	text-decoration:none;
	outline:none;
	color:#504141;
}

 .news-content {
	padding: 0px;
	margin: 0px;
}

span.news-preview-text {
	margin: 0px;
	padding: 0px;
	color:#9d9d9d;
	max-height:300px;
	overflow:hidden;
}

a.chitat-dalee,
a.chitat-dalee:visited {
	margin:0px;
	padding:5px 10px;
	display:inline-block;
	text-decoration:none;
	float:left;
	outline:none;
	border: 1px solid #e74c3c;
	cursor:pointer;
	color:#e74c3c;
	background-color:#fff;
	font-size:10pt;
	opacity:0.9;
}

a.chitat-dalee:hover {
	opacity:1;
	color:#fff;
	background-color:#e74c3c;
}

 .news_footer {
	padding: 10px 0px;
	color:#000;
	font-size:10pt;
	font-weight:400;
	width:100%;
	height:30px;
	position:relative;
	bottom:0px;
}

span.published {
	margin: 0px;
	padding: 0px;
	color:#9d9d9d;
	font-size:10pt;
	font-style:italic;
}

span.other-info {
	float:right;
	margin: 0px 0px 0px 5px;
	font-style:italic;
	line-height:30px;
	color:#e74c3c;
}

img.views-img {
	position:absolute;
	margin:15px 0px 0px -25px;
}
/* End */
/* /bitrix/templates/AniLibria KD Design/components//bitrix/system.pagenavigation/new-navigation/style.css?1441385390810 */
/* /bitrix/templates/AniLibria KD Design/components/bitrix/news/news/bitrix/news.list/.default/style.css?14343988931405 */
